<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".circ" />
      <mimeMap fileExtension=".circ" mimeType="application/octet-stream" />
      <remove fileExtension=".pptx" />
      <mimeMap fileExtension=".pptx" mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
    </staticContent>
  </system.webServer>
</configuration>
